.emoji-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border-bottom: 0.5px solid #b0b0b0;

  padding: 50px;
}

.content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.image-container {
  position: relative;
}

.emoji-image {
  width: 340px;
  height: 340px;
  object-fit: fill;
  aspect-ratio: 1/1;
}

.text-content {
  max-width: 500px;
}

.overline {
  text-transform: uppercase;
  font-size: 12px;
  color: gray;
}

.title {
  font-size: 46px;
  font-weight: bold;
  line-height: 1.2;
}

.description {
  color: gray;
  margin-top: 10px;
}

.features {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
  border: px solid;
}

.icon {
  font-size: 10px;
  color: #4f46e5;
}

.icon img {
  width: 30px;
  height: 30px;
    object-fit: contain;
    aspect-ratio: 1/1;
}

.feature-title {
  font-weight: bold;
}

.feature-subtitle {
  color: gray;
  font-size: 14px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  width: 50%;
  height: 40px;
}

.primary-emoji-button,
.secondary-emoji-button {
  padding: 0px 20px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.primary-emoji-button {
  background-color: #4f46e5;
  color: white;
  padding: 0.5rem 0rem;
  width: 60%;
}

.secondary-emoji-button {
  background-color: transparent;
  border: 1px solid gray;
  color: white;
  width: 50%;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 20px;
  }

  .emoji-image {
    width: 100%;
    height: 100%;
  }

  .text-content {
    max-width: 100%;
  }

  .title {
    font-size: 36px;
  }

  .features {
    flex-direction: column;
    gap: 20px;
  }

  .buttons {
    width: 100%;
  }

  .primary-emoji-button,
  .secondary-emoji-button {
    width: 100%;
  }
}
