.text-image-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    background-color: black;
    color: white;
    
  }
  
  .text-content {
    max-width: 50%;
  }
  
  .overline {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .headline {
    font-size: 62px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 1.3vw;
    color: #b0b0b0;
    margin-bottom: 30px;
  }
  
  .buttons {
    display: flex;
    gap: 15px;
  }
  
  .primary-button {
    background-color: #5c4bf4;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 10%;
  }
  
  .primary-button:hover {
    background-color: #4635d2;
  }
  
  .secondary-button {
    background-color: transparent;
    color: white;
    padding: 8px 0px;
    font-size: 14px;
    border: 1px solid #888;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 90%;
  }
  
  .secondary-button:hover {
    background-color: white;
    color: black;
  }
  
  .image-container {
    max-width: 50%;
  }
  
  .image {
    width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    .text-image-section {
      flex-direction: column;
      padding: 50px;
    }
    
    .text-content {
      max-width: 100%;
    }
    
    .headline {
      font-size: 48px;
    }
    
    .description {
      font-size: 16px;
    }
    
    .buttons {
      flex-direction: column;
    }
    
    .primary-button {
      width: 90%;
    }
    
    .secondary-button {
      width: 90%;
      margin: 0 auto;
    }
    
    .image-container {
      max-width: 100%;
      margin-top: 50px;
    }
  }
  